@charset "UTF-8";

table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	width: max-content;
}

.changeWindow{
	display: none;
	background-color: #EEE;
	z-index: 800;
	position: absolute;
	width: 200px;
/*	height: 150px;*/
	border: 2px solid black;
	border-radius: 10px;
}

#comment{
	width: 180px;
	font-size: 0.8rem;
	line-height: 1.5rem;
}

.view{
	width: 100%;
	border: 0;
	border-radius: 10px;
	background-color: #EEE;
}

.yellow{
	color: yellow;
}

.red{
	color: red;
}

.blue{
	color: aqua;
}

.close{
	position: absolute;
	top: 3px;
	right: 3px;
	border: none;
	
}

.color label{
	font-size: 1.5rem;
}