<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link th:href = "@{/css/check.css}" rel = "stylesheet" type="text/css">
<title>入力確認画面</title>
</head>
<body>
	<section layout:fragment = "content">
		<h1 class="secondary">入力確認</h1>
			<form th:action = "@{/submit}" method="post" th:object = "${shiftForm}">
				<table>
					<tr>
						<th class="date">日付</th>
						<th class="time">時間</th>
					</tr>
					<tr th:each = "item : ${inputShift}">
						<td>
							<span name = "date">[[${item.key}]]</span>
						</td>
						<td>
							<span name = "time">[[${item.value}]]</span>
						</td>
						<input type="hidden" name="date" th:value = "${item.key}">
						<input type="hidden" name="time" th:value = "${item.value}"> 
					</tr>
				</table>
				<div class="btns">
					<input type="submit" name="action" value="戻る" class="btn">
					<input type="submit" name="action" value="登録" class="btn blue">	
				</div>
			</form>
	<section>
</body>
</html>