<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->
<!--	layout:decorate="~{layout}">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<link th:href = "@{/css/look.css}" rel = "stylesheet" type="text/css">-->
<!--<title>	今月のシフト確認</title>-->
<!--</head>-->
<!--<body>-->
<!--	<section layout:fragment = "content">-->
		
<!--	<h1 class="secondary">シフト確認画面</h1>-->
<!--	<table>-->
<!--		<tr>-->
<!--			<td>日付</td>-->
<!--			<td>時間</td>-->
<!--		</tr>-->
<!--		<tr th:each = "result : ${thisShift}" th:object = "${result}">-->
<!--			<td th:text = "*{date}"></td>-->
<!--			<td th:text = "*{time}"></td>-->
<!--		</tr>-->
<!--	</table>-->
<!--	<form th:action = "@{/admin}" method="post" class="form-group">-->
<!--		<input type="submit" value = "戻る" class="btn">-->
<!--	</form>-->
<!--	</section>-->
<!--</body>-->
<!--</html>-->